extends ../layout/index

block contenido
    .py-10.ml-20
        h1(class="ml-44 text-4xl my-10 font-extrabold text-indigo-800") Gaceta 
            span.font-normal UTXJ
        h2(class="text-start ml-52 ").text-2xl.font-extrabold= pagina
        if errores 
            div(class="max-w-md ml-16 my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg
        div.flex
            div(class="ml-32 max-w-xl mt-4 ")
                .bg-white.py-8.px-10(class="shadow-negro rounded-md mt-10")
                    form.space-y-5.rounded-md(method="POST" action="/auth/login")
                        input(type="hidden" name="_csrf" value= csrfToken)
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-1.font-bold(for="email") Email de Registro
                            input#email.w-full.px-2.py-3.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Email" type="email" name="email")
                        div
                            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
                            input#password.w-full.px-2.py-3.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Password" type="password" name="password")
                                            
                        div.flex.items-center.justify-between
                            a.text-gray-500.text-xs(href="/auth/registro" class="hover:underline decoration-4 decoration-indigo-600 mt-2") ¿No tienes cuenta? Crear una.
                            a.text-gray-500.text-xs(href="/auth/olvide-password" class="hover:underline decoration-4 decoration-indigo-600 mt-2") Olvide mi Password
                        
                        input( class=" w-full bg-aqua hover:bg-indigo-600 hover:text-white text-white font-bold py-3 cursor-pointer rounded-md" type="submit" value="Iniciar Sesión" )
            div(class="ml-40 max-w-md mt-none mt-20 ")
                img(class="h-85 ml-90" src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" alt="alt")
        




