div(class="bg-white shadow rounded-lg")
    img(class="object-cover h-72 w-full" src=`/uploads/${eventos.imagen}` alt=` imagen casa ${eventos.titulo}`)
    div(class="p-5 space-y-3 rounded")
        h3(class="text-2xl font-bold")= eventos.titulo
        a(href=`/eventos/${eventos.id}` class="bg-aqua text-center block font-bold text-white text-sm p-3 uppercase rounded") Ver eventos