doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gaceta UTXJ | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-white
        include includes/header-admin

        main(class="mx-auto container h-auto mt-20 px-2")
            block contenido
        include includes/footer-admin
            
        block scripts