doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gaceta UTXJ | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        block styles
    body(class="min-h-screen bg-body" )

        main(class="mx-auto container mt-0 px-0")
            block contenido
            
        block scripts