footer.bg-aqua.p-8 
        .container.mx-auto.flex.justify-between.items-center
            div(class="mx-auto")
                div(class="text-center") 
                    h1(class="font-extrabold text-black") UNIVERSIDAD TECNOLÓGICA DE XICOTEPEC DE JÚAREZ
                    p Av. Universidad Tecnológica No . 1000, Tierra Negra, Xicotepec de Juárez, Puebla.
                    p Teléfonos: 01 (764) 7645240 y 7645252
                    p ©2019 Dirección de Planeación y Evaluación.
                    p Universidad Tecnológica de Xicotepec de Juárez. 
                    div(class="flex space-x-auto mx-44 mt-5")
                        a(href="https://instagram.com/ut_xicotepec?igshid=NzZlODBkYWE4Ng==") 
                            img(class="h-10 mx-5" src="https://cdn-icons-png.flaticon.com/128/1409/1409946.png")
                        a(href="https://www.tiktok.com/@tigrillos.utxj?_t=8i3G6gnBa21&_r=1")
                            img(class="h-10" src="https://cdn-icons-png.flaticon.com/128/11104/11104200.png")
                        a(href="https://www.facebook.com/utxj.2002?mibextid=2JQ9oc")
                            img(class="h-10 mx-5" src="https://cdn-icons-png.flaticon.com/128/2504/2504903.png")