header.bg-aqua.p-4 
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/")
            h1.text-2xl.text-white.font-extrabold.text-center Gaceta 
                span.font-normal UTXJ
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="/auth/registro" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg" ) Crear Cuenta    
            a(href="/auth/login" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg" ) Iniciar Sesión   
div(class="bg-body py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center") 
            a(href="/categorias/1" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg") Casas
            a(href="/categorias/2" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg") Departamentos
            a(href="/categorias/3" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg") Bodegas
            a(href="/categorias/4" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg") Terrenos
            a(href="/categorias/5" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg") Cabañas
        form(action="/buscador" method="POST" class="flex gap-3 items-center") 
            input(type="hidden" name="_csrf" value= csrfToken)
            label(for="termino" class="text-sm uppercase font-bold text-black ") Busqueda 
            
            input(type="text" id="termino" name="termino" placeholder="Buscar propiedades" class="p-2 rounded-lg shadow text-sm")

            input(type="submit" class="bg-white text-black h-full  hover:bg-azul hover:text-white   hover:scale-105 shadow shadow-gray-600 active:scale-95 py-2 px-10 rounded-lg"  value="Buscar" )
